*{margin: 0;padding: 0;font-family: 'Segoe UI', sans-serif , 'poppins', 'Roboto', 'Helvetica Neue', Arial, sans-serif;transition: all 0.5s ease;-webkit-tap-highlight-color: transparent;-webkit-touch-callout: none;transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);}

:root{
  --glass-radius: 22px;
}
body{
  background: #0a0a0a;
}

.bg-glow{position:fixed;inset:0;z-index:-1;pointer-events:none}
.bg-glow > div{filter:blur(140px);opacity:.45}

.liquidGlass-wrapper{position:relative;display:flex;overflow:hidden;border-radius:var(--glass-radius);box-shadow:0 8px 28px rgba(0, 0, 0, 0.055),0 0 32px rgba(0, 255, 255, 0.034)}
.liquidGlass-effect{position:absolute;inset:0;z-index:0;backdrop-filter:blur(22px) saturate(160%);filter:url(#glass-distortion);isolation:isolate}
.liquidGlass-tint{position:absolute;inset:0;z-index:1;background:linear-gradient(180deg,rgba(255,255,255,.06),rgba(255,255,255,.02));border-radius:var(--glass-radius);}
.liquidGlass-shine{display:none}
.liquidGlass-context{z-index:3}

#loading-screen{position:fixed;inset:0;display:flex;align-items:center;justify-content:center;background:rgba(0, 0, 0, 0.8);backdrop-filter:blur(24px);z-index:50;transition: 1s ease;}

#slides{transition:transform .45s cubic-bezier(.2,.8,.2,1)}
.slide {z-index: -99;transition: height 0.6s;height: 70vh; }
.slide.active-slide{height: 70vh;}
.slide:not(.active-slide){height: 80vh;}


.app-icon{cursor: pointer;z-index: 5;opacity:0;transform:translateY(24px) scale(.94);transition:opacity .4s ease,transform .5s ease}
.app-icon.active{opacity:1;transform:translateY(0) scale(1)}
.app-bg{background:radial-gradient(100% 100% at 30% 20%,rgba(255,255,255,.22),rgba(255,255,255,.06));border:1px solid rgba(255,255,255,.18);backdrop-filter:blur(10px) saturate(160%);box-shadow:0 6px 18px rgba(0, 0, 0, 0.295),0 0 18px rgba(0, 255, 255, 0.082)}
.app-bg::after{content: "";position: absolute;display: flex; justify-content: center;align-items: center;transition: 1s; width: 60%;height: 60%;background: var(--icon);background-size: 95% 95%;background-repeat: no-repeat;}

.app-icon:active .app-bg{background: radial-gradient(100% 100% at 30% 20%,rgba(255, 255, 255, 0.288),rgba(5, 99, 153, 0.144));box-shadow:0 6px 18px rgba(0,0,0,.45),0 0 18px rgba(0,255,255,.25);}
.app-icon:active{scale: 1.1;transition: 0.3s;}


/* .app-window{
  position: absolute;
  width: 80vw;
  height: 70vh;
  top: 0;
  left: 50%;
  z-index: 9;
  transform: translate(-50%);
  background:radial-gradient(100% 100% at 30% 20%,rgba(255,255,255,.22),rgba(255,255,255,.06));border:1px solid rgba(255,255,255,.18);backdrop-filter:blur(10px) saturate(160%);box-shadow:0 6px 18px rgba(0, 0, 0, 0.295),0 0 18px rgba(0, 255, 255, 0.082);
} */

.app-window-clone {
  position: fixed;
  background: radial-gradient(100% 100% at 30% 20%,
  rgba(255,255,255,.22),rgba(255,255,255,.06));
  border: 1px solid rgba(255,255,255,.18);
  backdrop-filter: blur(20px) saturate(160%);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3),
  0 0 18px rgba(0, 255, 255, 0.08);
  z-index: 100;
  transform-origin: center center;
  transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  border-radius: 22px;
}

.app-window {
  position: fixed;
  inset: 0;
  z-index: 200;
  display: none;
  /* backdrop-filter: blur(20px); */

}
.app-window.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
