.content-scroll{
    position: absolute;
    top: 4vh;
    width:80vw;
    height: 73vh;
    background: transparent;
    border: 1px solid rgba(95, 95, 95, 0.678);
    border-radius: 16px;
    overflow: hidden;
}

.content-item{
    position: relative;
    top: 2vh;   
    left: 50%;
    display: none;
    transform: translate(-50%,60vh) scale(0.3);
    margin: 10px 0px 10px 0px;
    width: 90%;
    padding: 20px 0 20px 0;
    background: rgba(131, 128, 128, 0.226);
    border-radius: 8px;
    transition: transform 0.5s ease-in-out;
}
.content-item.main{display: block}
.content-item.main , .content-item.enabled{transform: translate(-50%) scale(1);}
.content-item .item-name{
    position: absolute;
    left: 5vw;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 1.2rem;
}

.content-item .main-toggle{
    position: absolute;
    background: rgba(150, 169, 170, 0.514);
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 20px;
    height: 20px;
    width: 40px;
    left: 80%;
    transition: 0.4s;
}
.content-item .main-toggle::after{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 0;
    background: white;
    border-radius: 50%;
    transition: 0.4s;
}
.content-item .main-toggle.active::after{
    left: 20px;    
}
.content-item .main-toggle.active{
    background: #0aedfdb6;
}
