@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif , 'poppins', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  transition: all 0.5s ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.liquidGlass-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.liquidGlass-effect {
  position: absolute;
  z-index: 0;
  inset: 0;
  backdrop-filter: blur(10px);
  filter: url(#glass-distortion);
  overflow: hidden;
  isolation: isolate;
}

.liquidGlass-tint {
  z-index: 1;
  inset: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.048);
  border-radius: 20px;
}

.liquidGlass-shine {
  position: absolute;
  inset: 0;
  z-index: 2;
  overflow: hidden;
  border-radius: 20px;
}

.liquidGlass-context {
  z-index: 3;
}

#loading-screen {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(8px); 
  z-index: 9;
  font-family: 'Segoe UI', sans-serif, Arial, sans-serif;
  color: #22d3ee;
  font-size: 2rem;
  font-weight: 600;
}

#slides{
  transition: 0.4s ease;
}
.slide {
  /* backdrop-filter: blur(10px); */
  z-index: -99;
  transition: height 0.6s;
}

.slide:not(.active-slide) {
  height: 75vh;
}

.slide.active-slide {
  height: 70vh; 
}


.app-icon {
  opacity: 0;
  transform: translateY(400px) scale(0.5);
  transition: transform 5s ease-in-out, opacity 0.5s ease;
}

.app-icon .app-bg{
  background: radial-gradient(circle, #9796969f 0%, #ffffff79 100%);
  opacity: 0.8;
}

.app-icon.active {  
  opacity: 1;
  transform: translateY(0) scale(1);
}

