@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif , 'poppins', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  transition: all 0.5s ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.liquidGlass-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.liquidGlass-effect {
  position: absolute;
  z-index: 0;
  inset: 0;
  backdrop-filter: blur(10px);
  filter: url(#glass-distortion);
  overflow: hidden;
  isolation: isolate;
}

.liquidGlass-tint {
  z-index: 1;
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.048);
  border-radius: 20px;
}

.liquidGlass-shine {
  position: absolute;
  inset: 0;
  z-index: 2;
  border-radius: 20px;
  overflow: hidden;

  /* box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
    inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5); */
}

.liquidGlass-context {
  z-index: 3;
}

#loading-screen {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(8px); /* for Safari */
  z-index: 9999;
  font-family: 'Segoe UI', sans-serif, Arial, sans-serif;
  color: #22d3ee; /* cyan-400 */
  font-size: 2rem;
  font-weight: 600;
}
.circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(8rem);
  animation: move 40s infinite alternate ease-in-out;
  background-color: #00ffff;
  transition: 1s background-color;
}
@keyframes move{
  0% { transform: translate(10vw, 100vh); }
  25% { transform: translate(50vw, -20vh); }
  50% { transform: translate(-40vw, 80vh); }
  75% { transform: translate(20vw, -30vh);  }
  100% { transform: translate(0, 0); }
}
#slides{
  transition: 0.4s ease;
}
.slide {
  transition: height 0.8s ease; /* Smooth height change */
}

/* Taller side slides */
.slide:not(.active-slide) {
  height: 90vh; /* your "tall" height */
  /* transform: translate(0,1000px); */
  /* display: none; */
  transition: 0.4s display ease-in-out;
}

/* Normal height for center slide */
.slide.active-slide {
  height: 70vh; /* match your Home slide height */
  /* display: block; */
  /* transform: (100px); */
  /* backdrop-filter: blur(10px); */
}

/* Starting state: icons are translated down & scaled down */
.app-icon {
  transform: translateY(400px) scale(0.5);
  opacity: 0;
  transition: transform 5s ease-in-out, opacity 0.5s ease;
}

/* When active, move to final place & scale 1 */
.app-icon.active {
  
  transform: translateY(0) scale(1);
  opacity: 1;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("https://raw.githubusercontent.com/lucasromerodb/liquid-glass-effect-macos/refs/heads/main/assets/flowers.jpg")
    center center;
  background-size: 500px;
  font-family: sans-serif;
  font-weight: 300;

  animation: moveBackground 60s linear infinite;
}

@keyframes moveBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% -500%;
  }
}
