@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif , 'poppins', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  transition: all 0.5s ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

#loading-screen {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(8px); /* for Safari */
  z-index: 9999;
  font-family: 'Segoe UI', sans-serif, Arial, sans-serif;
  color: #22d3ee; /* cyan-400 */
  font-size: 2rem;
  font-weight: 600;
}
.circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(8rem);
  animation: move 40s infinite alternate ease-in-out;
  background-color: #00ffff;
  transition: 1s background-color;
}
@keyframes move{
  0% { transform: translate(10vw, 100vh); }
  25% { transform: translate(50vw, -20vh); }
  50% { transform: translate(-40vw, 80vh); }
  75% { transform: translate(20vw, -30vh);  }
  100% { transform: translate(0, 0); }
}
#slides{
  transition: 0.4s ease;
}
.slide {
  transition: height 0.8s ease; /* Smooth height change */
}

/* Taller side slides */
.slide:not(.active-slide) {
  height: 90vh; /* your "tall" height */
}

/* Normal height for center slide */
.slide.active-slide {
  height: 70vh; /* match your Home slide height */
  backdrop-filter: blur(20px);
}